In [483]:
## import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [484]:
plt.style.use('default')

In [485]:
#reading the data from csv
loan_data_df = pd.read_csv("loan.csv")

In [486]:
#set all coloumns visible
pd.set_option('display.max_columns', None)

In [487]:
#display first 5 rows
loan_data_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.0,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [488]:
#check rows and columns
loan_data_df.shape

(39717, 111)

## **Data cleaning**

#### **1: Remove Columns With Null values**

In [489]:
#find null values columns
loan_data_df.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [490]:
#checking overview of the loan data frame
loan_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [491]:
#find percentage of null values
null_perc = round((loan_data_df.isnull().sum()/len(loan_data_df)) * 100,2)

In [492]:
#get percentage of null values for each columns
null_perc[null_perc > 0]

emp_title                       6.19
emp_length                      2.71
desc                           32.59
title                           0.03
mths_since_last_delinq         64.66
                               ...
tax_liens                       0.10
tot_hi_cred_lim               100.00
total_bal_ex_mort             100.00
total_bc_limit                100.00
total_il_high_credit_limit    100.00
Length: 68, dtype: float64

#### It is observed that there are some columns with null values. we can remove coloumns with null values crossing more than 30%.

In [493]:
#removing columns with more than 30% null values
loan_data_df.drop(null_perc[ null_perc > 30].index, axis=1, inplace=True)

In [494]:
#lets recheck percentage of null values 
loan_data_df.isnull().sum()

id                               0
member_id                        0
loan_amnt                        0
funded_amnt                      0
funded_amnt_inv                  0
term                             0
int_rate                         0
installment                      0
grade                            0
sub_grade                        0
emp_title                     2459
emp_length                    1075
home_ownership                   0
annual_inc                       0
verification_status              0
issue_d                          0
loan_status                      0
pymnt_plan                       0
url                              0
purpose                          0
title                           11
zip_code                         0
addr_state                       0
dti                              0
delinq_2yrs                      0
earliest_cr_line                 0
inq_last_6mths                   0
open_acc                         0
pub_rec                          0
revol_bal                        0
revol_util                      50
total_acc                        0
initial_list_status              0
out_prncp                        0
out_prncp_inv                    0
total_pymnt                      0
total_pymnt_inv                  0
total_rec_prncp                  0
total_rec_int                    0
total_rec_late_fee               0
recoveries                       0
collection_recovery_fee          0
last_pymnt_d                    71
last_pymnt_amnt                  0
last_credit_pull_d               2
collections_12_mths_ex_med      56
policy_code                      0
application_type                 0
acc_now_delinq                   0
chargeoff_within_12_mths        56
delinq_amnt                      0
pub_rec_bankruptcies           697
tax_liens                       39
dtype: int64

In [495]:
loan_data_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,car,bike,309xx,GA,1.00,0,Apr-99,5,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,personel,917xx,CA,20.00,0,Feb-96,1,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,other,Personal,972xx,OR,17.94,0,Jan-96,0,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

#### **2: Remove Unique Value Columns**

In [496]:
#Lets find column's with unique values
loan_data_df.nunique().sort_values()

tax_liens                         1
delinq_amnt                       1
chargeoff_within_12_mths          1
acc_now_delinq                    1
application_type                  1
policy_code                       1
collections_12_mths_ex_med        1
initial_list_status               1
pymnt_plan                        1
term                              2
pub_rec_bankruptcies              3
verification_status               3
loan_status                       3
pub_rec                           5
home_ownership                    5
grade                             7
inq_last_6mths                    9
delinq_2yrs                      11
emp_length                       11
purpose                          14
sub_grade                        35
open_acc                         40
addr_state                       50
issue_d                          55
total_acc                        82
last_pymnt_d                    101
last_credit_pull_d              106
int_rate                        371
earliest_cr_line                526
zip_code                        823
loan_amnt                       885
funded_amnt                    1041
revol_util                     1089
out_prncp                      1137
out_prncp_inv                  1138
total_rec_late_fee             1356
collection_recovery_fee        2616
dti                            2868
recoveries                     4040
annual_inc                     5318
total_rec_prncp                7976
funded_amnt_inv                8205
installment                   15383
title                         19615
revol_bal                     21711
emp_title                     28820
last_pymnt_amnt               34930
total_rec_int                 35148
total_pymnt_inv               37518
total_pymnt                   37850
url                           39717
member_id                     39717
id                            39717
dtype: int64

In [497]:
# Get the list of columns with 1 value i.e unique value column
unique_counts = loan_data_df.nunique().sort_values()
columns_with_unique_value_1 = unique_counts[unique_counts == 1].index.tolist()
columns_with_unique_value_1

['tax_liens',
 'delinq_amnt',
 'chargeoff_within_12_mths',
 'acc_now_delinq',
 'application_type',
 'policy_code',
 'collections_12_mths_ex_med',
 'initial_list_status',
 'pymnt_plan']

#### It is observed that there are some single valued column's. This column's won't contribute in the analysis so better to drop them.

In [498]:
#drop unique value columns
loan_data_df.drop(columns_with_unique_value_1,axis=1,inplace=True)

In [499]:
#verify if unique value columns are dropped
loan_data_df.nunique().sort_values(ascending=False)

id                         39717
url                        39717
member_id                  39717
total_pymnt                37850
total_pymnt_inv            37518
total_rec_int              35148
last_pymnt_amnt            34930
emp_title                  28820
revol_bal                  21711
title                      19615
installment                15383
funded_amnt_inv             8205
total_rec_prncp             7976
annual_inc                  5318
recoveries                  4040
dti                         2868
collection_recovery_fee     2616
total_rec_late_fee          1356
out_prncp_inv               1138
out_prncp                   1137
revol_util                  1089
funded_amnt                 1041
loan_amnt                    885
zip_code                     823
earliest_cr_line             526
int_rate                     371
last_credit_pull_d           106
last_pymnt_d                 101
total_acc                     82
issue_d                       55
addr_state                    50
open_acc                      40
sub_grade                     35
purpose                       14
delinq_2yrs                   11
emp_length                    11
inq_last_6mths                 9
grade                          7
pub_rec                        5
home_ownership                 5
loan_status                    3
verification_status            3
pub_rec_bankruptcies           3
term                           2
dtype: int64

#### **3: Remove Non Contributing Columns**

#### we can safely remove the columns such as `id`, `member_id`, `url`, `title`, `emp_title`, `zip_code`, `last_credit_pull_d`, `addr_state`

In [500]:
# Removing `id`, `member_id`, `url`, `title`, `emp_title`, `zip_code`, `last_credit_pull_d`, `addr_state` 
loan_data_df.drop(["id", "member_id", "url", "title", "emp_title", "zip_code", "addr_state"], axis = 1, inplace = True)

#### Our aim is to find strong indicators of who is likely default loan. Company can use this info for its portfolio and risk management. Meta data columns of borrowers who already took loans is not useful for us. So we can remove this coloumns.

In [501]:
#removing borrowers meta data columns
loan_data_df.drop(['total_rec_int', 'total_rec_prncp', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_credit_pull_d', 'last_pymnt_d', 'out_prncp','out_prncp'],axis=1,inplace=True)

#### `out_prncp_inv` , `total_pymnt_inv` are useful for investors but not contributing to the loan defaulting analysis. So removing them.

In [502]:
# Removing columns `out_prncp_inv` , `total_pymnt_inv`
loan_data_df.drop(["out_prncp_inv","total_pymnt_inv"], axis = 1, inplace = True)

#### `funded_amnt` is not needed because we only need info as to how much is funded in actual. As we have `funded_amnt_inv` , we can remove the earlier column.

In [503]:
# Removing `funded_amnt` 
loan_data_df.drop(["funded_amnt"], axis = 1, inplace = True)

#### Let's find null values percentage in remaining columns

In [504]:
#find columns which has null value percentage greater than 0
null_perc = round((loan_data_df.isnull().sum()/len(loan_data_df)) * 100,2)
null_perc[null_perc > 0]

emp_length              2.71
revol_util              0.13
pub_rec_bankruptcies    1.75
dtype: float64

#### Let's remove null values rows in these columns since we can't replace them with mean or median values.

In [505]:
# drop null rows 
null_columns_greater_than_zero = null_perc[null_perc > 0].index.tolist()
loan_data_df.dropna(subset = null_columns_greater_than_zero,inplace=True)

In [506]:
#verify if any column has null values
null_value_perc = round((loan_data_df.isnull().sum()/len(loan_data_df)) * 100,2)
null_value_perc[null_value_perc > 0]

Series([], dtype: float64)

#### Get loan_status possible values

In [507]:
loan_data_df.loan_status.value_counts()

loan_status
Fully Paid     31534
Charged Off     5266
Current         1098
Name: count, dtype: int64

#### Since we need to analyze who is likely to default, we should remove loans which are currently running i.e 'Current' status values

In [508]:
#removing the records with 'Current' loan status and verify if removed
loan_data_df = loan_data_df[loan_data_df.loan_status != 'Current']
loan_data_df.loan_status.unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

## Standardizing the data

### 1:  List and Verify text based columns for any issues

In [522]:
#list text based columns
text_columns = [col for col in loan_data_df.columns if loan_data_df[col].dtype == 'object']
text_columns

['term',
 'int_rate',
 'grade',
 'sub_grade',
 'emp_length',
 'home_ownership',
 'verification_status',
 'issue_d',
 'loan_status',
 'purpose',
 'earliest_cr_line',
 'revol_util']

In [509]:
loan_data_df.term.unique()

array([' 36 months', ' 60 months'], dtype=object)

In [510]:
loan_data_df['term'] = loan_data_df.term.str.strip()

In [511]:
loan_data_df.term.unique()

array(['36 months', '60 months'], dtype=object)

In [512]:
loan_data_df.grade.unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [513]:
loan_data_df.home_ownership.unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER'], dtype=object)

In [514]:
loan_data_df.emp_length.unique()

array(['10+ years', '< 1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '1 year', '6 years', '2 years', '7 years'],
      dtype=object)

In [515]:
loan_data_df.purpose.unique()

array(['credit_card', 'car', 'small_business', 'other', 'wedding',
       'debt_consolidation', 'home_improvement', 'major_purchase',
       'medical', 'moving', 'vacation', 'house', 'renewable_energy',
       'educational'], dtype=object)

In [521]:
loan_data_df.revol_util.unique()

array(['83.70%', '9.40%', '98.50%', ..., '49.63%', '0.04%', '7.28%'],
      dtype=object)

In [524]:
loan_data_df.sub_grade.unique()

array(['B2', 'C4', 'C5', 'C1', 'A4', 'E1', 'F2', 'B5', 'C3', 'B1', 'D1',
       'A1', 'B3', 'B4', 'C2', 'D2', 'A3', 'A5', 'D5', 'A2', 'E4', 'D3',
       'D4', 'F3', 'E3', 'F1', 'E5', 'G4', 'E2', 'G2', 'G1', 'F5', 'F4',
       'G5', 'G3'], dtype=object)

In [525]:
loan_data_df.verification_status.unique()

array(['Verified', 'Source Verified', 'Not Verified'], dtype=object)

In [526]:
loan_data_df.loan_status.unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

### 2: Data type conversion

In [528]:
#list all columns data type
loan_data_df.dtypes

loan_amnt                 int64
funded_amnt_inv         float64
term                     object
int_rate                 object
installment             float64
grade                    object
sub_grade                object
emp_length               object
home_ownership           object
annual_inc              float64
verification_status      object
issue_d                  object
loan_status              object
purpose                  object
dti                     float64
delinq_2yrs               int64
earliest_cr_line         object
inq_last_6mths            int64
open_acc                  int64
pub_rec                   int64
revol_bal                 int64
revol_util               object
total_acc                 int64
total_pymnt             float64
last_pymnt_amnt         float64
pub_rec_bankruptcies    float64
dtype: object

#### revol_util and int_rate shown as object but it should be float.

In [529]:
#verify if int_rate converted to float
loan_data_df.int_rate

0        10.65%
1        15.27%
2        15.96%
3        13.49%
5         7.90%
          ...
39562    10.28%
39573    10.59%
39623    12.49%
39666    11.22%
39680    11.86%
Name: int_rate, Length: 36800, dtype: object

In [530]:
#verify if revol_util converted to float
loan_data_df.revol_util

0        83.70%
1         9.40%
2        98.50%
3           21%
5        28.30%
          ...
39562    68.70%
39573       79%
39623    62.90%
39666    34.30%
39680    70.90%
Name: revol_util, Length: 36800, dtype: object

#### `revol_util` and `int_rate` columns contains % character which is a problem for analysis, removing % and converting them to float.

In [531]:
# fix int_rate column type to float
non_perc_char_int_rate = loan_data_df.int_rate.str.strip('%')
loan_data_df.int_rate = non_perc_char_int_rate.astype(float)
loan_data_df.int_rate.dtype

In [534]:
# fix revol_util column type to float
non_perc_char_revolt_rate = loan_data_df.revol_util.str.strip('%')
loan_data_df.revol_util = non_perc_char_revolt_rate.astype(float)
loan_data_df.revol_util.dtype

#### Few date value columns seems to be object, converting them to Date

In [544]:
# fix issue_d column type to date
loan_data_df['issue_d'] = pd.to_datetime(loan_data_df.issue_d, format='%b-%y')
loan_data_df['issue_d'] = loan_data_df['issue_d'].apply(lambda x: x-pd.DateOffset(years=100) if x.year > 2023 else x)

In [545]:
# fix earliest_cr_line column type to date
loan_data_df['earliest_cr_line'] = pd.to_datetime(loan_data_df.earliest_cr_line, format='%b-%y')
loan_data_df['earliest_cr_line'] = loan_data_df['earliest_cr_line'].apply(lambda x: x-pd.DateOffset(years=100) if x.year > 2023 else x)

In [546]:
# verify if issue_d column data type converted to date
loan_data_df.issue_d

0       2011-12-01
1       2011-12-01
2       2011-12-01
3       2011-12-01
5       2011-12-01
           ...
39562   2007-11-01
39573   2007-11-01
39623   2007-10-01
39666   2007-08-01
39680   2007-08-01
Name: issue_d, Length: 36800, dtype: datetime64[ns]

In [547]:
# verify if earliest_cr_line column data type converted to date
loan_data_df.earliest_cr_line

0       1985-01-01
1       1999-04-01
2       2001-11-01
3       1996-02-01
5       2004-11-01
           ...
39562   2000-03-01
39573   1989-02-01
39623   1997-08-01
39666   1992-11-01
39680   2000-07-01
Name: earliest_cr_line, Length: 36800, dtype: datetime64[ns]

#### Currently, the date columns contain only one value each. Extracting the year, month, and date from these columns will provide valuable information for our analysis.

In [548]:
# Extracting the year, month, and date from issue_d column
loan_data_df['issue_d_year'] = loan_data_df.issue_d.dt.year
loan_data_df['issue_d_month'] = loan_data_df.issue_d.dt.month
loan_data_df['issue_d_dayofweek'] = loan_data_df.issue_d.dt.day_of_week

In [549]:
# Extracting the year, month, and date from earliest_cr_line column
loan_data_df['earliest_cr_year'] = loan_data_df.earliest_cr_line.dt.year
loan_data_df['earliest_cr_month'] = loan_data_df.earliest_cr_line.dt.month
loan_data_df['earliest_cr_dayofweek'] = loan_data_df.earliest_cr_line.dt.day_of_week

In [550]:
loan_data_df.head()

,loan_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,total_pymnt,last_pymnt_amnt,pub_rec_bankruptcies,issue.d.year,issue.d.month,issue.d.dayofweek,earliest.cr.year,earliest.cr.month,earliest.cr.dayofweek
0,5000,4975.0,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.0,Verified,2011-12-01,Fully Paid,credit_card,27.65,0,1985-01-01,1,3,0,13648,83.7,9,5863.155187,171.62,0.0,2011,12,3,1985,1,1
1,2500,2500.0,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.0,Source Verified,2011-12-01,Charged Off,car,1.00,0,1999-04-01,5,3,0,1687,9.4,4,1008.710000,119.66,0.0,2011,12,3,1999,4,3
2,2400,2400.0,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.0,Not Verified,2011-12-01,Fully Paid,small_business,8.72,0,2001-11-01,2,2,0,2956,98.5,10,3005.666844,649.91,0.0,2011,12,3,2001,11,3
3,10000,10000.0,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.0,Source Verified,2011-12-01,Fully Paid,other,20.00,0,1996-02-01,1,10,0,5598,21.0,37,12231.890000,357.48,0.0,2011,12,3,1996,2,3
5,5000,5000.0,36 months,7.90,156.46,A,A4,3 years,RENT,36000.0,Source Verified,2011-12-01,Fully Paid,wedding,11.20,0,2004-11-01,3,9,0,7963,28.3,12,5632.210000,161.03,0.0,2011,12,3,2004,11,0

#### Calcuting the ration of requested vs approved loan amount.

In [551]:
loan_data_df['approved_loan_amnt_percentage'] = round((loan_data_df.funded_amnt_inv/loan_data_df.loan_amnt)*100,2)

In [553]:
loan_data_df.head()

,loan_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,total_pymnt,last_pymnt_amnt,pub_rec_bankruptcies,issue.d.year,issue.d.month,issue.d.dayofweek,earliest.cr.year,earliest.cr.month,earliest.cr.dayofweek,approved_loan_amnt_percentage
0,5000,4975.0,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.0,Verified,2011-12-01,Fully Paid,credit_card,27.65,0,1985-01-01,1,3,0,13648,83.7,9,5863.155187,171.62,0.0,2011,12,3,1985,1,1,99.5
1,2500,2500.0,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.0,Source Verified,2011-12-01,Charged Off,car,1.00,0,1999-04-01,5,3,0,1687,9.4,4,1008.710000,119.66,0.0,2011,12,3,1999,4,3,100.0
2,2400,2400.0,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.0,Not Verified,2011-12-01,Fully Paid,small_business,8.72,0,2001-11-01,2,2,0,2956,98.5,10,3005.666844,649.91,0.0,2011,12,3,2001,11,3,100.0
3,10000,10000.0,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.0,Source Verified,2011-12-01,Fully Paid,other,20.00,0,1996-02-01,1,10,0,5598,21.0,37,12231.890000,357.48,0.0,2011,12,3,1996,2,3,100.0
5,5000,5000.0,36 months,7.90,156.46,A,A4,3 years,RENT,36000.0,Source Verified,2011-12-01,Fully Paid,wedding,11.20,0,2004-11-01,3,9,0,7963,28.3,12,5632.210000,161.03,0.0,2011,12,3,2004,11,0,100.0

#### Check if all data types are fine after above Standardization and Type conversion?

In [554]:
loan_data_df.dtypes

loan_amnt                                 int64
funded_amnt_inv                         float64
term                                     object
int_rate                                float64
installment                             float64
grade                                    object
sub_grade                                object
emp_length                               object
home_ownership                           object
annual_inc                              float64
verification_status                      object
issue_d                          datetime64[ns]
loan_status                              object
purpose                                  object
dti                                     float64
delinq_2yrs                               int64
earliest_cr_line                 datetime64[ns]
inq_last_6mths                            int64
open_acc                                  int64
pub_rec                                   int64
revol_bal                                 int64
revol_util                              float64
total_acc                                 int64
total_pymnt                             float64
last_pymnt_amnt                         float64
pub_rec_bankruptcies                    float64
issue.d.year                              int32
issue.d.month                             int32
issue.d.dayofweek                         int32
earliest.cr.year                          int32
earliest.cr.month                         int32
earliest.cr.dayofweek                     int32
approved_loan_amnt_percentage           float64
dtype: object